

h1{
  text-align: center;
}


body{
  background-color: #c9c6c6;
}

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  button {
    margin: 0 10px;
  }
  

  table, td, th {
    border: 1px solid;
    text-align: center;
    background-color: rgb(231, 228, 223);
  }
  
  td:hover{
    background-color: rgb(139, 139, 139);
    cursor:pointer;
  }
  tr:hover{
    background-color: rgb(109, 107, 106);
    cursor: pointer;
  }
  th:hover{
    background-color: rgb(25, 68, 54);
    color:white;
    cursor:pointer;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  /*El estilo de los botones lo he sacado de: https://copy-paste-css.com/*/

  button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    

  }
  button:hover{
    color: #fff;
    background-color: #616467;
}


table, th, tr, td{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




@media screen and (max-width: 770px) {
  table {
    border: 0;
    min-width: 150px;
  }

  td{
    border: 0;
    min-width: 150px;
  }
  img{
    height: 100px;
    width: 100px;
  }

  video{
    height: 100px;
    width: 100px;
  }

}